<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/favicon.ico" security="none"/>
    <http pattern="/signup/**" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/fonts/**" security="none"/>
    <http use-expressions="true">
        <!-- 注意intercept-url的顺序 -->
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="hasAnyRole('ROLE_USER')"/>
        <form-login login-page="/" login-processing-url="/login"
                    authentication-failure-handler-ref="virgoAuthenticationFailureHandler"
                    authentication-success-handler-ref="virgoAuthenticationSuccessHandler"
                    always-use-default-target="true"/>
        <logout logout-url="/logout" logout-success-url="/"/>
        <csrf disabled="true" />
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

    <context:component-scan base-package="com.nexusy.virgo.web.auth"/>

</beans:beans>